<header>
  <h1>в мире животных</h1>
</header>

<main>
  <ul>
    {{#each landAnimals}}
    <li><a href=""><img src="{{img}}" alt="{{title}}">
        <p>{{title}}</p>
      </a></li>
    {{/each}}
  </ul>
  <ul>
    {{#each seaСreatures}}
    <li><a href=""><img src="{{img}}" alt="{{title}}">
        <p>{{title}}</p>
      </a></li>
    {{/each}}
  </ul>
</main>
