<header>
  <h1>в мире животных</h1>
  <a href="/voiceActing/stop"><img id="stop" src="stop.png" alt="stop"></a>
  

  {{#if parents}}
  <a id="add" href="/animal">+</a>
  <div class="form_toggle" id="checkBox">
    <div class="form_toggle-item item-1">
      <input id="fid-1" type="radio" name="radio" value="children">
      <label for="fid-1">дети</label>
    </div>

    <div class="form_toggle-item item-2">
      <input id="fid-2" type="radio" name="radio" value="parents" checked>
      <label for="fid-2">родители</label>
    </div>
  </div>
  {{/if}}
  {{#if children}}
  <div class="form_toggle" id="checkBox">
    <div class="form_toggle-item item-1">
      <input id="fid-1" type="radio" name="radio" value="children" checked>
      <label for="fid-1">дети</label>
    </div>

    <div class="form_toggle-item item-2">
      <input id="fid-2" type="radio" name="radio" value="parents">
      <label for="fid-2">родители</label>
    </div>
  </div>
  {{/if}}
</header>

<main id="main">
  <ul>
    {{#each yourAnimals}}
    <li><a class="audio" href="{{title}}.wav"><img class="imgPhoto" src="{{img}}" alt="{{title}}">
        <p>{{title}}</p>
      </a>
      {{#if ../parents}}
      <a href="/animal/{{id}}"><img class="delImg" src="/del.png" alt=""></a>
      <a href="/animal/{{id}}"><img class="upImg" src="/pencil.png" alt=""></a>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</main>
